/* 手机端菜单背景 */
#mobile-sidebar #mobile-sidebar-menus.open {
  background: var(--heo-maskbg);
}

#aside-content .card-info .card-info-data>.card-info-data-item {
  transition: .3s;
}

/* 手机端导航 */
#sidebar #sidebar-menus .site-data {
  margin: 1rem 0;
  padding: 0.6rem 0.5rem;
}

#sidebar-menus>hr {
  display: none;
}
